Led_Node-Red/Led.json
[
    {
        "id": "d2ef83005656bc2d",
        "type": "tab",
        "label": "LED",
        "disabled": false,
        "info": ""
    },
    {
        "id": "bd91ee2d6d440b47",
        "type": "mqtt out",
        "z": "d2ef83005656bc2d",
        "name": "",
        "topic": "imd0902recebe",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a1d85cf7093a6ea3",
        "x": 400,
        "y": 340,
        "wires": []
    },
    {
        "id": "b87161049db7565d",
        "type": "ui_button",
        "z": "d2ef83005656bc2d",
        "name": "",
        "group": "bf39a5787f1395a1",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "ON LED",
        "tooltip": "",
        "color": "white",
        "bgcolor": "",
        "icon": "fa-circle",
        "payload": "1",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 120,
        "y": 300,
        "wires": [
            [
                "bd91ee2d6d440b47",
                "4bdd5c6b3d78be3a",
                "701928bc49665d21"
            ]
        ]
    },
    {
        "id": "490922efbdf4f597",
        "type": "ui_button",
        "z": "d2ef83005656bc2d",
        "name": "",
        "group": "bf39a5787f1395a1",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "OFF LED",
        "tooltip": "",
        "color": "black",
        "bgcolor": "",
        "icon": "fa-circle-o",
        "payload": "0",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 120,
        "y": 380,
        "wires": [
            [
                "bd91ee2d6d440b47",
                "4bdd5c6b3d78be3a",
                "701928bc49665d21"
            ]
        ]
    },
    {
        "id": "4bdd5c6b3d78be3a",
        "type": "debug",
        "z": "d2ef83005656bc2d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 390,
        "y": 400,
        "wires": []
    },
    {
        "id": "76aa0bb00e5a5846",
        "type": "debug",
        "z": "d2ef83005656bc2d",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 180,
        "wires": []
    },
    {
        "id": "d56b129bd4940afc",
        "type": "mqtt in",
        "z": "d2ef83005656bc2d",
        "name": "",
        "topic": "imd0902envia",
        "qos": "2",
        "datatype": "auto",
        "broker": "a1d85cf7093a6ea3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 140,
        "y": 180,
        "wires": [
            [
                "76aa0bb00e5a5846"
            ]
        ]
    },
    {
        "id": "701928bc49665d21",
        "type": "ui_text",
        "z": "d2ef83005656bc2d",
        "group": "bf39a5787f1395a1",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Saída Botão",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 410,
        "y": 460,
        "wires": []
    },
    {
        "id": "a1d85cf7093a6ea3",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.0.114",
        "port": "1883",
        "clientid": "TEST",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "bf39a5787f1395a1",
        "type": "ui_group",
        "name": "Control Led ESP8266",
        "tab": "fab2bb9c689d70b3",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "fab2bb9c689d70b3",
        "type": "ui_tab",
        "name": "Tab 1",
        "icon": "dashboard",
        "order": 1
    }
]